---
import BaseLayout from '../layouts/BaseLayout.astro';
import VarethFamilyTree from '../components/VarethFamilyTree.jsx';
---

<BaseLayout title="Árboles Genealógicos">
  <section class="py-10 bg-[inherit] w-full h-[1000px]">
    <VarethFamilyTree client:only="react" />
  </section>
</BaseLayout>
